[submodule "TitanAPI"]
	path = TitanAPI
	url = https://github.com/leviathan400/TitanAPI.git
[submodule "OP2MissionSDK"]
	path = OP2MissionSDK
	url = https://github.com/OutpostUniverse/OP2MissionSDK.git
